body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px
}

main {
    width: 375px;
    background-color: hsl(216, 50%, 16%);
    padding: 2rem ;
    border-radius: 30px;
}

.item {
    width: 100%;
}

.description-name {
    color: #FFFEFB
}

.description-text {
    color: #91AACE;
   
}

.creator {
    display: flex;
    align-items: center;
    gap: 25px
}

.creator-avatar {
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
}

.creator-container {
    display: flex;
    gap: 5px;
}

.creator-creationOf {
    color: #91AACE
}

.creator-name {
    color: #FFFEFB
}

.border {
    border: 0.5px solid #91AACE;
    margin-top: 20px;
    margin-bottom: 20px;
}