body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px
}

main {
    width: 375px;
    background-color: hsl(216, 50%, 16%);
    padding: 2rem ;
    border-radius: 30px;
}

.item {
    width: 100%;
}

.description-name {
    color: #FFFEFB
}

.description-text {
    color: #91AACE
}

.creator {
    display: flex;
    align-items: center;
}