@font-face {
  font-family: "Outfit";
  src: url(Outfit-VariableFont_wght.ttf)
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
}

main {
  width: 375px;
  background-color: hsl(216, 50%, 16%);
  padding: 2rem;
  border-radius: 15px;
}

p {
  font-style: normal;
  font-weight: 300;
}

.item {
  width: 100%;
  border-radius: 15px;
}

.item:hover{
  opacity: 70%;
}

.description-name {
  color: #fffefb;
  padding-top: 10px;
  font-weight: 500;
}

.description-text {
  color: #91aace;
  line-height: 30px;
  font-size: 1.4rem;
}

.description-name,
.description-text {
  font-family: "Outfit", sans-serif;
}

.description-name:hover {
  color: #09fff8;
}

.details {
  display: flex;
  justify-content: space-between;
  font-family: 'Outfit';
  font-size: 1.4rem;
}

.details-amount {
  display: flex;
  gap: 10px;
  align-items: center;
}

.details-value {
  color: #09fff8;
  font-weight: 600;
  font-size: 1.3rem;
}

.details-clock {
  height: 22px;
}

.details-text {
  color: #8cacd9;
}

.details-deadline {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.3rem;
}

.border {
  border: 0.1px solid #91aace;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 35%;
}

.creator {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: "Outfit";
}

.creator-avatar {
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
}

.creator-container {
  display: flex;
  gap: 8px;
  font-size: 20px;
}

.creator-creationOf {
  color: #91aace;
}

.creator-name {
  color: #fffefb;
}

.creator-name:hover {
  color: #09fff8;
}

